@model Mastercard.UI.Business.ViewModels.MisionViewModels
@using System.Globalization;
@using Mastercard.UI.Business.Helpers
@{int countFlag = 0; }

<div class="container">
    <div class="row justify-content-center py-4">
        <div class="col-md-5 text-center">
            <p>Desafíate, cumple estos retos y <strong>acumula más cupones para participar por ese premio especial que quieres al final de la campaña.   </strong></p>
            @if (Model.MisionPoint.MisionsTarget.Count() > 0 && Model.MisionPoint.ReadDate.Year != 0001)
            {
                <img class="mr-2" src="@Url.Content("~/Content/img/icons/updated.svg")" alt="">

                <p class="d-inline-block">Última actualización de tus transacciones @Model.MisionPoint.ReadDate.ToString("dd/MM/yyyy") </p>
            }
            @if (SessionHelper.LoginComplete)
            {
                <p><a class="here" href="@Url.Action("MyRedemption","Redemption")">Encuentra los cupones que llevas acumulados aquí</a></p>
            }
            else
            {
                <p><a class="here" style="cursor:pointer" onclick="SecondLogin('R')">Encuentra los cupones que llevas acumulados aquí</a></p>
            }
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-5">
            @if (Model.MisionPoint.MisionsTarget.Count() > 0)
            {
                foreach (var misionTarget in Model.MisionPoint.MisionsTarget)
                {
                    foreach (var misions in Model.MisionPoint.Misions.Where(x => x.Id == misionTarget.MisionId))
                    {
                        if (misions.StartDate <= DateTime.Now && misions.EndDate >= DateTime.Now)
                        {
                            if (!misionTarget.Active == true)
                            {
                                <div class="challeng row mx-0 align-items-center">
                                    <div class="title-content col-12 text-center">
                                        <p class="title"><strong>Reto: @misions.Name</strong></p>
                                    </div>
                                    <div class="img col-4 p-0"><img class="w-100" src="~/Content/img/assets/@misions.Display" alt=""></div>
                                    <div class="text col-8 text-center">
                                        <p class="mb-2 paragraph">@Html.Raw(misions.ShortDescription)</p>
                                        <p class="number "><strong>@misions.Point.ToString("N0", new CultureInfo("is-Is")) cupones</strong></p><a class="button button-white" href="@Url.Action("Detail", "Mision", new { IdMsion = misions.Id })">Ver detalle</a>
                                    </div>
                                    <div class="col-12 pt-3 complete-content">
                                        <p class="complete">Reto sin cumplir</p>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="challeng active row mx-0 align-items-center">
                                    <div class="title-content col-12 text-center">
                                        <p class="title"><strong>Reto: @misions.Name</strong></p>
                                    </div>
                                    <div class="img col-4 p-0"><img class="w-100" src="~/Content/img/assets/@misions.Display" alt=""></div>
                                    <div class="text col-8 text-center">
                                        <p class="mb-2 paragraph">Acumulaste</p>
                                        <p class="number"><strong> @misions.Point.ToString("N0", new CultureInfo("is-Is")) cupones</strong></p>
                                    </div>
                                    <div class="col-12 pt-3 complete-content">
                                        <p class="complete active">Reto  cumplido</p>
                                    </div>
                                </div>

                            }

                        }
                        else
                        {
                            countFlag++;
                            if (countFlag >= Model.MisionPoint.MisionsTarget.Count())
                            {
        <p class="text-center">Por el momento no tienes retos asignados.</p>
                            }

                        }


                    }

                }

            }
            else
            {
        <p class="text-center">Por el momento no tienes retos asignados. </p>
            }


        </div>
    </div>
</div>
