<footer class="footer">
    <div class="container">
        <div class="row menu-footer">
            <div class="col-md-3"><a href="@Url.Action("HowToParticipate","Content")">Cómo participar</a></div>
            <div class="col-md-3"><a href="@Url.Action("FaQ","Content")">Preguntas frecuentes</a></div>
            <div class="col-md-3"><a href="~/Content/T&C_.pdf" target="_blank">Términos y condiciones</a></div>
            <div class="col-md-3"><a href="@Url.Action("Contact","Content")">Contáctanos</a></div>
        </div>
        <div class="row justify-content-between py-4 position-relative">
            <img class="d-md-none legal" src="@Url.Content("~/Content/img/brand/legal.svg")" alt="">
            <div class="col-md-3"><img class="d-none d-md-inline-block" src="@Url.Content("~/Content/img/brand/legal.svg")" alt=""></div>
            <div class="col-md-3 py-4 py-md-0"><img class="logo-footer" src="@Url.Content("~/Content/img/brand/logo-footer.svg")" alt=""></div>
            <div class="col-md-3">
                <p class="px-4">Copyright © 2021 Grupo Bancolombia</p>
            </div>
        </div>
    </div>
</footer>