@model Mastercard.UI.Business.ViewModels.MisionViewModels
@using Mastercard.UI.Business.Helpers

<script>

    $("#success_coupon").modal("show");
    
</script>
<div class="modal fade modal-categories" id="success_coupon" onclick="window.location.href = '@Url.Action("Index", "Profile")';" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body text-center">
                <button class="close" type="button" data-dismiss="modal" aria-label="Close"></button>
                <div class="border-image"><img src="@Url.Content("~/Content/img/icons/check.svg")" alt=""></div>
                <h2 class="title pb-4">¡Redimiste con éxito @Math.Truncate((decimal)Model.MisionPoint2) cupones!</h2>
                <p class="mb-0">Hasta la fecha llevas acumulados</p>
                <p class="title">@(Math.Truncate(Model.CuponsAcumulate.Value)) cupones</p>
                <div class="row justify-content-center">
                    <div class="col-8 col-md-6"><a class="button button-yellow" href="@Url.Action("Index","Profile")">Continuar participando</a></div>
                </div>
            </div>
        </div>
    </div>
</div>