@model Mastercard.UI.Business.ViewModels.CatalogViewModel
@using Mastercard.UI.Business.Helpers
@{
    ViewBag.Title = "Detail";
}

<div class="container">
    <div class="row justify-content-center pt-4">
        <div class="col-md-6"><a class="back" href="@Url.Action("Index","Catalog")">Volver</a></div>
    </div>
    <div class="row justify-content-center pt-4">
        <div class="col-md-5 text-center">
            <p class="mb-2">@Model.ProductName</p>
            <div class="text pb-4">@Model.Inventory unidades disponibles </div><img class="imgDetail" src="@Model.Image.Replace("p.","g.")" alt="">
        </div>
    </div>
    <div class="row justify-content-center pt-4">
        <div class="col-md-5">
            <div id="accordion">
                @if (!string.IsNullOrEmpty(Model.LongDescription))
                {
                    <div class="headerAcordion collapsed" id="headingTwo" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        <p class="m-0">Descripción</p>
                    </div>

                    <div class="collapse" id="collapseTwo" aria-labelledby="headingTwo" data-parent="#accordion">
                        <div class="card-body">@Html.Raw(Model.LongDescription)</div>
                    </div>
                }
                @if (!string.IsNullOrEmpty(Model.Instructions))
                {
                <div class="headerAcordion" id="headingOne" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <p class="m-0">Instrucciones</p>
                </div>
                <div class="collapse show" id="collapseOne" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">@Html.Raw(Model.Instructions)</div>
                </div>
                }
                <div class="headerAcordion" id="headingtwo" data-toggle="collapse" data-target="#collapsetwo" aria-expanded="true" aria-controls="collapsetwo">
                    <p class="m-0">Términos y condiciones</p>
                </div>
                <div class="collapse show" id="collapsetwo" aria-labelledby="headingtwo" data-parent="#accordion">
                    <div class="card-body">@Model.TermsAndConditions</div>
                </div>

            </div>
        </div>
    </div>

    @if (!SessionHelper.CanRedeem || SessionHelper.RedemptionLimitReached)
    {


        <div class="row justify-content-center pt-4 ">
            <div class="col-md-3">
                <a class="button button-yellow " style="opacity: 0.2 !important; transform: none; pointer-events: none " id="habilitar">Redimir</a>
            </div>

        </div> if (SessionHelper.RedemptionLimitReached)
        {


            <div class="row justify-content-center pt-4 ">
                <p>Ya alcanzaste el limite de redenciones.</p>
            </div>
        }
        else
        {
            <div class="row justify-content-center pt-4 ">
                <p>Este botón se activará automáticamente cuando alcances tu meta.</p>
            </div>
        }
    }
    else
    {

        <div class="row justify-content-center pt-4 ">
            <div class="col-md-3 "><a class="button button-yellow " href="@Url.Action("Index", "Redemption", new { a = Model.Id, h = Model.CatalogType })">Redimir</a></div>
        </div>

    }
</div>



<script>
    $('#habilitar').prop('disabled', true);
</script>

