@model IEnumerable<Mastercard.UI.Business.ViewModels.CatalogViewModel>
@{
    ViewBag.Title = "Index";
    int AllInventoryCero = 0;
}
@using Mastercard.UI.Business.Helpers
@if (Model != null || Model.Count() <= 0)
{
foreach (var item2 in Model)
{
    if (item2.Inventory != 0)
    {
        AllInventoryCero = item2.Inventory;
    }
}
}
<div class="container" data-start="tour">
    <div class="row justify-content-center">
        <div class="col-md-6 pt-2 pb-4">
            <p class="text-center"><strong>Esta es la recompensa por cumplir tu meta</strong></p>
            <div class="orange-message py-4">
                <p><strong>Tienes dos opciones para disfrutar:</strong></p>
                <ul>
                    <li class="bold"><span>1. </span>Redimir un bono del catálogo.</li>
                    <li class="bold"><span>2. </span>Acumular cupones para participar por un premio especial al final de la campaña.</li>
                </ul>
                <p class="m-0">Tú decides cuál de las dos elegir.  </p>
            </div>
        </div>
        <div class="col-md-12">
     
                    <div class="row justify-content-center">
                        @if (!SessionHelper.RedemptionLimitReached)
                        {
                            if (Model.Count() > 0 && AllInventoryCero > 0)
                            {
                                foreach (var item in Model)
                                {
                                    if (item.Inventory > 0)
                                    {
                                        <div class="col-md-3 d-flex">
                                            <div class="cardBonds" id="step6">
                                                <div class="img"><img src="@item.Image" alt=""></div>
                                                <div class="content-text">
                                                    <p class="title">
                                                        <srtong>@item.ProductName</srtong>
                                                    </p>
                                                    <p class="text">@item.Inventory unidades disponibles </p>
                                                    @if (SessionHelper.LoginComplete)
                                                    {
                                                        <a class="more" href="@Url.Action("Detail", "Catalog", new { a = item.Id, h = item.CatalogType })"> </a>
                                                    }
                                                    else
                                                    {

                                                        <a class="more" style="cursor:pointer" onclick="SecondLogin('C')"> </a>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                            }
                            else
                            {

                    <div class="justify-content-center">
                            <p class="py-5 w-100">
                                ¡Opciones para redimir!En este momento no tenemos bonos del catálogo disponibles. Pero aún puedes redimir y acumular cupones para participar por el premio especial que quieras.
                            </p>
                    </div>
                            }
                        }
                        else
                        {
                            <div class="justify-content-center">
                                <p class="text-center w-100">
                                    <strong class="text-center">¡Ya redimiste un bono del catálogo!</strong><br />
                                    Aún puedes seguir acumulando cupones para participar por el premio especial que más te guste.
                                </p>
                            </div>
                        }
                    </div>
               
        </div>

        <div class="col-md-10">
            <div class="row importanInfo" id="step7">
                <div class="col-md-5 img-destacada pr-0 pl-0 pl-md-3"><img class="w-100" src="@Url.Content("~/Content/img/assets/catalogue_bonds.png")" alt=""><img class="figure carousels" src="@Url.Content("~/Content/img/shapes/shape-1.svg")" alt=""></div>
                <div class="col-md-7 d-flex flex-wrap justify-content-center flex-column align-items-start py-3 text-center bg-purple px-md-5">
                    <p class="m-0">Redime 100 cupones para participar por el premio especial que quieres al final de la campaña.</p>
                    @if (SessionHelper.CanRedeem)
                    {
                        if (SessionHelper.LoginComplete)
                        {
                            <a class="button button-white mb-3" href="" data-toggle="modal" data-target="#to-assure">Redimir 100 cupones</a>
                        }
                        else
                        {
                            <a class="button button-white mb-3" onclick="SecondLogin('C')">Redimir 100 cupones</a>
                        }
                    }
                    else
                    {

                        <a class="button button-white mb-3" style="opacity:0.2; transform:none; pointer-events:none ">Redimir 100 cupones</a>
                        <div>
                            <p class="text-center d-block">El botón redimir se activará una vez que cumplas tu meta.</p>
                        </div>

                    }
                    <p class="m-0 fs-10">Ten presente que durante la campaña solo podrás seleccionar un bono o tendrás la opción de redimir cupones cada vez que cumplas tu meta.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade modal-categories" id="to-assure" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body text-center py-4">
                <h2 class="title pb-4">¿Seguro que deseas redimir? </h2>
                <p class="text">Al hacerlo acumularás cupones para participar al final de la campaña, por el premio especial que más te guste. ¡Elígelo!</p>
                @using (Ajax.BeginForm("RedemptionCupon", "Mision", FormMethod.Post, new AjaxOptions
                {
                    InsertionMode = InsertionMode.Replace,
                    UpdateTargetId = "to-assure",
                    OnBegin = "RedeemCupon"

                }, new { }))
                {
                    <div class="row justify-content-center">

                        <div class="col-8 col-md-6 ">
                            <button class="button button-yellow" id="btnredeemcupon" type="submit">Redimir</button>
                            <a class="button button-outline" href="" data-dismiss="modal" aria-label="Close">Cancelar</a>
                        </div>

                    </div>
                }

            </div>
        </div>
    </div>
</div>

<div class="modal fade modal-categories" id="alert" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body text-center">
                <div class="border-image"><img src="/Content/img/icons/alertPhone.svg" alt=""></div>
                <h2 class="title pb-4" id="titulo"></h2>
                <p id="error">  </p>
                <div class="row justify-content-center">
                    <div class="col-8 col-md-6"><a class="button button-outline" data-dismiss="modal" aria-label="Close">Cerrar</a></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function RedeemCupon() {
        $('#btnredeemcupon').html("Redimiendo...");
        $('#btnredeemcupon').prop('disabled', 'disabled');
        $('#btnredeemcupon').css("opacity", "0.2");
    }

    function showError(titulo, mensaje) {
        $('#titulo').html(titulo);
        $('#error').html(mensaje);
        $('#alert').modal('show');
    }
</script>