
@model Mastercard.UI.Business.ViewModels.AwardViewModel

    <div class="container">
        <div class="row justify-content-center pt-4">
            <div class="col-md-10"><a class="back" href="@Url.Action("Index","Awards")">Volver</a></div>
        </div>
        <div class="row justify-content-center pt-3">
            <div class="col-md-5 text-center">
                <p class="mb-2">@Model.Awards.FirstOrDefault().Name</p>
                <div class="text">@Model.Awards.FirstOrDefault().QuantityDesired personas están sumando cupones para ganarlo </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-3 text-center"><a class="button button-yellow" href="@Url.Action("SaveSelection","Awards",new {awardId = Model.Awards.FirstOrDefault().Id })">Seleccionar</a></div>
        </div>
        <div class="row justify-content-center pt-5">
            <div class="col-md-5 d-flex align-items-center justify-content-center"><img class="w-100 img-golad" src="~/Content/img/assets/@Model.Awards.FirstOrDefault().Image" alt=""></div>
            <div class="col-md-5">
                <p class="title-goald"><strong>Descripción</strong></p>
                <p> @Html.Raw(Model.Awards.FirstOrDefault().Description)</p>
            </div>
        </div>
    </div>