@model Mastercard.UI.Business.ViewModels.AwardViewModel
@using Mastercard.UI.Business.Helpers
@{
    int flag = 0;
}

<div class="container" data-start="tour">
    <div class="row justify-content-center">
        <div class="col-12 text-center">
            <p><strong>¡Para ti que le apuestas a lo grande!</strong></p>
            <p><strong>Selecciona el premio especial por el que quieras participar y acumula todos los cupones que puedas para ganártelo.</strong></p>
            <p>Las personas que más cupones acumulen en cada premio se lo llevarán. Los ganadores serán publicados una vez finalizada la campaña.</p>
        </div>
    </div>
    @if (Model.Awards.FirstOrDefault().CustomerAwar.AwardId != 0)
    {
        <div class="row justify-content-center  text-green ">
            <div class="col-md-8 d-flex pb-4">
                <div class="w-100 p-5 p-md-3 bg-green text-center">
                    <p class="m-0"><strong>Actualmente estás participando por:</strong></p>
                    <p class="m-0"><strong>@Model.Awards.FirstOrDefault(x => x.Id == Model.Awards.FirstOrDefault().CustomerAwar.AwardId).Name</strong></p>
                </div>
            </div>
        </div>
    }

        <div class="row justify-content-center ">

            <div class="col-md-3 d-flex">
                <a class="@(Model.Awards.FirstOrDefault().CustomerAwar.AwardId != 0? " button button-outline removeSelection":"d-none button button-outline removeSelection")" 
                   id="step9"
>Cambiar selección</a>
                
            </div>
        </div>
    
    <div class="row justify-content-center py-md-4 py-2">
        <div class="col-md-12" id="step8">
            <div class="pecial_awards">
                @foreach (var item in Model.Awards)
                {
                    string awards = "idselectios" + flag;
                <div class="@(item.Id == Model.Awards.FirstOrDefault().CustomerAwar.AwardId == true ? "card card_awards active" : "card card_awards")">
                    <div class="row img-height"><img class="w-100" src="~/Content/img/assets/@item.Image" alt=""></div>
                    <p class="titles"><strong>@item.Name</strong></p>
                    <p class="mb-1"> <strong> @item.Inventory unidades disponibles</strong></p>
                    <p class="@(item.QuantityDesired == 0 ||item.QuantityDesired > 1 ? "text":"d-none")">@item.QuantityDesired personas están sumando cupones para ganarlo</p>
                    <p class="@(item.QuantityDesired == 1 ? "text":"d-none")">@item.QuantityDesired persona está sumando cupones para ganarlo</p>

                    <div class="buttons">
                        <div class="@(Model.Awards.FirstOrDefault().CustomerAwar.AwardId != 0 ? "d-none" : "")" id="change">
                            <div class="check more" onclick="SelectionAwards('@item.Id','@Model.Awards.FirstOrDefault().CustomerAwar.AwardId') ">
                                <p hidden id="@awards" value="@item.Id" />
                            </div>
                            <p>Seleccionar</p>
                        </div>
                        @if (SessionHelper.LoginComplete)
                        {
                            <div>
                                <a class="more" href="@Url.Action("Detail", "Awards", new { awardId = item.Id })"> </a>
                                <p>Ver más</p>
                            </div>
                        }
                        else
                        {
                            <div>
                                <a class="more" onclick="SecondLogin('A')"> </a>
                                <p>Ver más</p>
                            </div>
                        }
                    </div>

                </div>
                    flag++;
                }
            </div>

        </div>

    </div>
    <div class="row justify-content-center">
        <div class="col-12 text-center">
            <p>Ten presente que solo podrás hacer este cambio una vez al día y podrás cambiar la selección del premio por el que estás participando hasta el @Model.Awards.FirstOrDefault().EndDate.ToShortDateString()</p>
        </div>
    </div>
</div>
<script>
    function SelectionAwards(awards, item) {
        $("#awardId").val(awards);
        $("#ConfirmSelection").modal('show');
        $("#change").removeClass("d-nonde");
    }

    function showMaskError(mensaje) {
        $("#mensajeError").html(mensaje);
        $("#liquidated").modal('show');
    }
    
</script>
<div class="modal fade modal-categories" id="liquidated" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body text-center">
                <div class="border-image mb-2"><img src="@Url.Content("~/Content/img/icons/alertPhone.svg")" alt=""></div>
                <h2 class="title pb-3">¡UPS!</h2>
                <p id="mensajeError"></p>
                <div class="row justify-content-center">
                    <div class="col-8 col-md-6"><a class="button button-outline" data-dismiss="modal" aria-label="Close">Cerrar</a></div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade modal-categories" id="ConfirmSelection" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body text-center">
                @using (Html.BeginForm("SaveSelection", "Awards", FormMethod.Get, new { @id = "FormLogin" }))
                {
                    <div class="border-image mb-2"><img src="@Url.Content("~/Content/img/icons/alertPhone.svg")" alt=""></div>
                    <h2 class="title pb-3">¿Seguro que deseas seleccionar este premio especial?</h2>
                    <div class="row justify-content-center">

                        <input hidden id="awardId" name="awardId" />
                        <div class="col-8 col-md-6"><button class="button button-yellow" type="submit" >Sí</button></div>
                        <div class="col-8 col-md-6"><a class="button button-outline" onclick="location.reload()" data-dismiss="modal" aria-label="Close">No</a></div>

                    </div>
                }
                </div>
        </div>
    </div>
</div>
