
@{ Layout = null; }
@using Mastercard.UI.Business.Helpers

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Pásala Ganando / Bancolombia</title>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link rel="stylesheet" href="@Url.Content("~/Content/css/bootstrap.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/css/bootstrap-grid.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/css/bootstrap-reboot.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/css/slick.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/css/slick-theme.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/css/main.css")">
</head>
<body>
    @Html.Partial("~/Views/Shared/_Header.cshtml")
    <section class="calculating-goal diagram">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="loading-goal">
                        <img src="~/Content/img/assets/Grupo-comercios.svg" alt="">
                        <div class="circle">
                            <p>Tu meta personal es hacer compras para activar*:</p>
                            <h2>@SessionHelper.BillingGroupGoal</h2>
                            <p class="px-3">Grupos de comercios</p>
                        </div>
                        <p class="text-cenetr">Tú decides cuáles de estos grupos activar</p>
                    </div>
                </div>
                <div class="col-md-12 pt-5 pb-4">
                    <div class="orange-message py-4 text-center">
                        <p>*Para activar un grupo de comercio debes realizar compras por el monto en pesos que te asignamos en cada uno de ellos.</p>
                        <p class="bold">¡Ingresa y descúbrelo!</p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-4"> <a class="button button-outline" href="@Url.Action("Index","Profile")">Continuar</a></div>
            </div>
        </div>
    </section>
    <p class="text-center pt-4">Campaña vigente desde el 17 de agosto hasta el 3 de octubre de 2021.</p>
    @Html.Partial("~/Views/Shared/_Footer.cshtml")

    <script type="text/javascript" src="@Url.Content("~/Content/js/vendor/jquery.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/vendor/bootstrap.bundle.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/vendor/bootstrap.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/vendor/slick.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/main.js")"></script>
    <script type="text/javascript" src="https://www.google.com/recaptcha/api.js" async defer></script>
</body>
</html>