
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 text-center pt-4">
                <p><strong>¿Tienes peticiones, quejas o reclamos?</strong></p>
            </div>
            <div class="col-md-6 text-center">
                <div class="contact-img mt-4 mb-5"><img class="w-100" src="@Url.Content("~/Content/img/assets/contacto.png")" alt=""><img class="figure" src="@Url.Content("~/Content/img/shapes/shape-1.svg")" alt=""></div>
            </div>
            <div class="col-12 text-center pb-4">
                <p><strong>Queremos resolver tus dudas:</strong></p>
            </div>
            <div class="col-md-5" id="accordionContact">
                <div class="card card-contact">
                    <div class="icon"><img class="mb-3" src="@Url.Content("~/Content/img/icons/puntosColombia.svg")" alt=""></div>
                    <p class="mb-2">Si tienes problemas con Puntos Colombia o con un bono de Tuboleta, escribe a <strong>pasalaganando@mastercard.tarjetasbancolombia.com</strong> para aclararlas.</p>
                </div>
                <div class="card card-contact">
                    <div class="icon"><img class="mb-3" src="@Url.Content("~/Content/img/icons/envio.svg")" alt=""></div>
                    <div class="headerAcordion py-0 pr-5 text-left collapsed" id="headingTwo" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        <p class="m-0">Si algo salió mal con el ingreso a la plataforma o tus transacciones, comunícate en la sucursal telefónica de Bancolombia a:</p>
                    </div>
                    <div class="collapse" id="collapseTwo" aria-labelledby="headingTwo" data-parent="#accordionContact">
                        <div class="card-body pb-0">
                            <ul>
                                <li>Bogotá: <a href=""><strong>343 0000 </strong></a></li>
                                <li>Medellín: <a href=""><strong>510 9000</strong></a></li>
                                <li>Cali: <a href=""><strong>554 0505</strong></a></li>
                                <li>Barranquilla: <a href=""><strong>361 8888</strong></a></li>
                                <li>Cartagena: <a href=""><strong>693 4400</strong></a></li>
                                <li>Bucaramanga: <a href=""><strong>697 2525</strong></a></li>
                                <li>Resto del país: <a href=""><strong>01 8000 09 12345</strong></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card card-contact">
                    <div class="icon"><img class="mb-3" src="@Url.Content("~/Content/img/icons/message.svg")" alt=""></div>
                    <div class="headerAcordion py-0 pr-5 text-left" id="headingOne" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        <p class="m-0">O si presentas algún inconveniente con los bonos del catálogo y necesitas soporte o ampliar alguna información, contáctanos a:</p>
                    </div>
                    <div class="collapse show" id="collapseOne" aria-labelledby="headingOne" data-parent="#accordionContact">
                        <div class="card-body pb-0">
                            <ul>
                                <li> <a href=""><strong>pasalaganando@mastercard.tarjetasbancolombia.com </strong></a></li>
                                <li>Línea nacional gratuita: <a href=""><strong>01 8000 113104</strong></a></li>
                                <li>WhatsApp: <a href=""><strong>322 782 85 32</strong></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>