<!DOCTYPE html>
@using Mastercard.UI.Business.Helpers
@model Mastercard.Common.DTO.SegmentDTO


        <div class="container">
            @if (SessionHelper.Token != null)
            {
                if (SessionHelper.FirstLogin)
                {
                    <a class="return" href="@Url.Action("Loading", "Content")">Inicio</a>
                }
                else
                {
                    <a class="return" href="@Url.Action("Index", "Profile")">Inicio</a>
                }
            }
            else
            {
                <a class="return" href="@Url.Action("FirstLogin", "Account")">Inicio</a>
            }
            <div class="row">
                <div class="col-12">
                    <h1>Cómo participar</h1>
                </div>
                <div class="col">
                    <div class="mechanical-carousel">
                        <div class="px-3">
                            <div class="item">
                                <img class="img-fluid" src="@Url.Content("~/Content/img/shapes/mechanics/1.svg")">
                                <div class="text">
                                    <p> <span>Gana con tus tarjetas </span></p><br>
                                    <p>Disfruta tus compras con tus Tarjetas Maestro o Mastercard Bancolombia sean débito o crédito.</p>
                                </div>
                            </div>
                        </div>
                        <div class="px-3">
                            <div class="item">
                                <img class="img-fluid" src="@Url.Content("~/Content/img/shapes/mechanics/2.svg")">
                                <div class="text">
                                    <p> <span>Tendrás una meta </span></p><br>
                                    <p>Para cumplirla deberás realizar compras en el número de grupos de comercios que te asignamos. Ten presente que cada grupo de comercio tiene una meta en pesos a alcanzar diferente.</p>
                                </div>
                            </div>
                        </div>
                        <div class="px-3">
                            <div class="item">
                                <img class="img-fluid" src="@Url.Content("~/Content/img/shapes/mechanics/3.svg")">
                                <div class="text">
                                    <p> <span>Cuando la cumplas, elige tu premio</span></p><br>
                                    <p>Durante la campaña solo podrás redimir una única vez 1 bono del catálogo (sin importar cuántas veces cumplas tu meta), o sumar cupones de forma ilimitada cada vez que la cumplas para participar por el premio especial que quieras. </p>
                                </div><br>
                                <p><span>¡Tú decides!</span></p>
                            </div>
                        </div>
                        <div class="px-3">
                            <div class="item">
                                <img class="img-fluid" src="@Url.Content("~/Content/img/shapes/mechanics/4.svg")">
                                <div class="text">
                                    <p> <span>Desafíate</span></p><br>
                                    <p>Además, podrás cumplir distintos retos y acumular cupones adicionales para participar por el premio especial que más te guste. </p>
                                </div>
                            </div>
                        </div>
                        <div class="px-3">
                            <div class="item">
                                <img class="img-fluid" src="@Url.Content("~/Content/img/shapes/mechanics/5.svg")">
                                <div class="text">
                                    <p> <span>Más oportunidades </span></p><br>
                                    <p>Y lo mejor es que si superaste tu meta en compras en alguno de los grupos de comercios, el valor se acumulará para que sea más fácil volver a cumplirla.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
   