@using Mastercard.UI.Business.Helpers
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Pásala Ganando / Bancolombia</title>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link rel="stylesheet" href="@Url.Content("~/Content/css/bootstrap.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/css/bootstrap-grid.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/css/bootstrap-reboot.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/css/slick.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/css/slick-theme.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/css/main.css")">
</head>
<body>
    @Html.Partial("~/Views/Shared/_Header.cshtml")

    <section class="calculating-goal">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="loading-goal">
                        <h1>Hola&nbsp;<br><span>@SessionHelper.Name</span></h1>
                        <h4>Estamos calculando tu meta personal</h4>
                        <div class="animation-calculating">
                            <div class="circle circle1"></div>
                            <div class="circle circle2"></div>
                            <div class="circle circle3"></div>
                            <div class="hand animation"></div>
                        </div>
                        <h3>Lo hacemos de acuerdo con los gastos que realizas día a día.</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script type="text/javascript">
setTimeout(function () {
        window.location.href = "@Url.Action("LoadGoal", "Content")";
}, 4000);
    </script>
    @Html.Partial("~/Views/Shared/_Footer.cshtml")

    <script type="text/javascript" src="@Url.Content("~/Content/js/vendor/jquery.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/vendor/bootstrap.bundle.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/vendor/bootstrap.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/vendor/slick.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/main.js")"></script>
    <script type="text/javascript" src="https://www.google.com/recaptcha/api.js" async defer></script>
</body>
</html>